main{
    max-width: 1440px;
    padding: 15px;
    height: calc(100vh - 52vh);
    background-color: #E3ECFC;
    border: 1px solid #9ED6E6;
    margin: 5px;

    border-radius: 15px;
}

.botoes{
    margin-left: 5px;
    margin-bottom: 30px;
}